body {
  padding-top: 50px;
  font-size: 16px;
  padding-bottom: 50px;
}
.lead-row{
  margin-top: 20px;
}
.lead-div {
  margin-top: 30px;
}
li {
  margin-bottom: 20px;
}
ul li ul li {
  margin-bottom: 0px;
}
.nav li, li:last-child {
  margin-bottom: 0px;
}
.anchor-offset{
  padding-top: 50px;
  margin-top: -50px;
}

.btn-default{
  background-image: none;
  border-color: #ff9f80;
  color: #a73610;
}

.btn-default:hover {
  background-color: #fff5f2;
  border-color: #d96641;
  text-decoration: underline;
  color: #80290c;
}

.navbar-default .navbar-brand {
  color: #a73610;
}

.navbar-default .navbar-nav>li>a {
  color: #a73610;
}
.navbar-default {
  background-image: none;
  border-color: #a73610;
  background-color: #fff5f2;
}
hr {
  border-top: 1px solid #ffd8cc;
}
